<p>کاربر عزیز: {{ user.first_name + user.last_name }}</p>
<p>
    برای تغییر رمز عبور خود:
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        اینجا کلیک کنید
    </a>.
</p>
<p>:یا میتوانید آدرس زیر را در مرورگر خود وارد کنید</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>اگر درخواست تنظیم مجدد رمز عبور نداده اید لطفا این پیام را نادیده بگیرید</p>

<p>تیم توسعه دهنده</p>