{% extends "base.html" %}

{% block app_content %}
    <h1>متاسفانه مشکلی پیش اومده :( </h1>
    <p>از این بابت متاسفیم. به زودی مشکل برطرف میشه</p>
    <p><a href="{{ url_for('login') }}">بازگشت</a></p>
{% endblock %}