{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
            
{% block app_content %}

<h1>ورود</h1>
        <hr>
        <div class="row" dir="rtl">
            <div class="col-md-4" dir="rtl" >
                {{ wtf.quick_form(form, novalidate=True) }}

            </div>
        </div>
        <br>
        <span><a href="{{ url_for('forgot') }}">فراموشی رمز</a></span>
        <hr>
        <p>عضو نیستید؟<a href="{{ url_for('register') }}"> برای ثبت نام کلیک کنید </a></p>
{% endblock %}
