{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h2>ثبت نام</h2>
    <hr>
    <div class="row" dir="rtl" >
        <div class="col-md-4">
            {{ wtf.quick_form(form,novalidate=True) }}
        </div>
    </div>
    <br>
    <br>
{% endblock %}