{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>تغییر رمز </h2>
<br>
    <hr>
    <div class="row">
        <div class="col-md-4" dir="rtl">
            {{ wtf.quick_form(form,novalidate=True) }}
        </div>
    </div>
{% endblock %}