{% extends "base.html" %}
{% block app_content %}
    <style>
        p, h2,h4 {text-align: right;}
    </style>
    <table class="table table-hover"  >
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h2>حساب کاربری</h2>
                <br>
                <p> (: خوش اومدی {{ user.first_name + user.last_name }}</p>
                <hr>
                <h4>: اطلاعات حساب شما</h4>
                <p><br><b> نام : </b>{{ user.first_name }} </p>
                <p><br> <b> نام خانوادگی : </b>  {{ user.last_name }}  </p>
                <p><br>{{ user.email }}<b> :ایمیل</b> </p>
                <p><br>{{ user.phone }}<b> :شماره موبایل</b> </p>
            </td>
        </tr>
    </table>
{% endblock %}